ul{
    list-style-type: none;
    margin-left: 90%;
    padding: 0;
}

li{
    float: left;
}

li a{
    text-decoration: none;
}

#q{
    width: 20cm;
}

#gs{
    margin-top: 3ex;
}

input{
    margin-top: 2ex;
    width: 10cm;
}

button{
    margin-top: 2ex;
}

